@model Projeto2.Models.Livro

@{
    ViewData["Title"] = "CadLivro";
}


<h2 style="text-align:center;">Novo Livro</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadLivro" aps-controller="Livros" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodLivro" class="control-label"></label>
                <input asp-for="CodLivro" class="form-control" />
                <span asp-validation-for="CodLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeLivro" class="control-label"></label>
                <input asp-for="NomeLivro" class="form-control" />
                <span asp-validation-for="NomeLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagemLivro" class="control-label"></label>
                <input asp-for="ImagemLivro" class="form-control" />
                <span asp-validation-for="ImagemLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>

            <br />
            <div class="for-group">
                <input type="file" name="file" id="file" /> <br />
                <span asp-validation-for="ImagemLivro" class="text-danger"></span>
            </div> 
            @*adicionando a msg*@
            @ViewBag.msg
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
